@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@import '@fontsource/inter';

* {
	@apply text-ctp-text;
	font-family: 'Inter', sans-serif;
}

h1 {
	@apply text-3xl;
}

h6 {
	@apply text-xs text-ctp-subtext0;
}