@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@import '@fontsource/inter';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

* {
	@apply text-ctp-text;
	font-family: 'Inter', sans-serif;
}

html, body {
  @apply bg-ctp-mantle;
}

input {
	@apply border border-ctp-text rounded-lg px-3 py-2 w-full bg-ctp-base outline-none focus:ring-2 focus:ring-ctp-text transition-all duration-250;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

h6 {
	@apply text-xs;
}

.bigButton {
	@apply rounded-full h-28 w-9/10 bg-ctp-base items-center shadow-lg shadow-ctp-crust hover:bg-ctp-surface0 active:bg-ctp-surface1 transition-colors duration-250;
}

.medButton {
	@apply rounded-full h-14 w-40 bg-ctp-base items-center shadow-sm shadow-ctp-crust hover:bg-ctp-surface0 active:bg-ctp-surface1 transition-colors duration-250;
}