@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@import '@fontsource/inter';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

* {
	@apply text-ctp-text;
	font-family: 'Inter', sans-serif;
}

h1 {
	@apply text-3xl;
}

h6 {
	@apply text-xs;
}